.hidden-location {
  display: none;
}

.hidden-type {
  display: none;
}

.badge {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

#color {
  width: 100%;
}

#imagePreview {
  display: none;
}